*{
    /* background-color:white; */
    margin: 0px;
    padding: 0px;
    animation-name: service;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
   
 
  
} 
.top{
  
    background-image: url("photos/direct/cloud-services.webp");
    background-size: cover ;
    backdrop-filter: blur(10px);
    color: aliceblue;
    
 
    /* background-image: url("cloud-services.webp");
    background-size: cover ;
    height: 100vh; */


}


.main{
    margin-left: 150px;
    margin-right: 150px;
   
  
 
    
}
.high{
    font-size: 350%;
    text-align: center;
    margin-bottom: 20px;
    
   
}
.content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    
}
.box{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.inner1{
    border: 5px solid rgb(174, 191, 198);
    margin-right: 28px;
    border-radius: 12px;
    margin-top: 12px;
    padding-left: 19px;
    padding-right: 19px;
    width: 445px;
    font-size:large ;
   
   

    
}

.inner2{
    width: 430px;
    border: 5px solid rgb(174, 191, 198);
    border-radius: 12px;
    margin-top: 12px;
    margin-right: 28px;
    padding-left: 19px;
    padding-right: 19px;
    font-size:large ;
  
}
.inner3{
    width: 430px;
    border: 6px solid rgb(174, 191, 198);
    border-radius: 12px;
    margin-top: 12px;
    margin-right: 28px;
    padding-left: 19px;
    font-size:large ;
    padding-right: 19px;
    backdrop-filter: blur(5px);


}
.inner4{
    width: 430px;
    border: 6px solid rgb(174, 191, 198);
    border-radius: 12px;
    margin-top: 12px;
    margin-right: 28px;
    padding-left: 19px;
    padding-right: 19px;
    font-size:large ;
    backdrop-filter: blur(5px);

}
ul{
    margin-top: 10px;
}
.line{
    height: 5px;
    background-color: grey;
    
}

.char{
    display:flex;
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 50px;

}
.char-last{
    display:flex;
    margin-left: 200px;
    margin-right: 100px;
}
.low{
    background-color: #232f3e;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.inner1:hover{
    transform: scale(1.05);
}
.inner2:hover{
    transform: scale(1.05);
}
.inner3:hover{
    transform: scale(1.05);
}
.inner4:hover{
    transform: scale(1.05);
}

#utp{
    font-size: 300%;
    text-align: center;
    margin-bottom: 30px;
}
#utp:hover{
    text-decoration: white solid underline;
}
h3{
    margin-bottom: 10px;
}
h3:hover{
    text-decoration: white solid underline;
}

.mem:hover{
    transform: scale(1.2);
    
 }
 .high:hover{
    text-decoration: white solid underline;
 }
 @keyframes service{
    0%{
        opacity: 0.4;
        transform: translateX(-200px);
      
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
       
    }
}
.hut{
    background-color: #232f3e;
    color: white;
    height: 300px;
    padding-top: 70px;
}
.tree{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.space{
    margin-top: 14px;
   
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: rgba(255,255,255,0.7);
     
   
}

.help{
    margin-right: 160px;
}
.pp{
    margin-left: 200px;
   
}
.vector{
    text-decoration:rgba(255,255,255,0.7)  underline;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: rgba(255,255,255,0.7);
    
}