*{
     
    margin: 0px;
    padding: 0px;
}
.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color:rgb(156, 189, 156);
    height: 90px;
}
.switch{
    margin-right: 200px;
    
    margin-left: 100px;
}
.butoo{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 2rem;
    font-size: large;

    
}
.butoo:hover{
    background-color:rgb(216, 223, 216);
    opacity: 0.8;
    transform: scale(1.1);
    border: 1px solid black;
}
.new{
    margin-left: 250px;
    animation-name: service;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.top{
   
    margin-left: 250px;
    animation-name: service;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    
    
    color: white;
   
}

.nav{
    color: #1F3D5C;
    
    margin-bottom: 20px;
    padding-left:10px; 
}

.ind{
    font-weight: 500;
    font-size: 250%;
    
}
.content{
    color: #333333;
    font-size: 120%;
    margin-bottom: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}
.photo{
    margin-left: 100px;
    margin-top: 20px;
   
}
.photo:hover{
    opacity: 0.8;
}


.nav:hover{
    opacity: 0.8;
    padding:0px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
.middle{
    margin-left: 400px;
    margin-top: 50px;
    color: #1F3D5C; 
    margin-right: 540px;
      
}
.char{
    display: flex;
    margin-bottom: 50px;
}
.main{
    margin-top: 20px;
    margin-left: 100px;
}
#utp{
    margin-top: 50px;
    margin-bottom: 30px;
}
h3{
    padding-bottom: 10px;
    font-size: 160%;
    font-weight: 540;
    padding-right: 700px;

}
.mem:hover{
   transform: scale(1.3);
}
h3:hover{
    opacity: 0.6;
    transform: skewX(4deg);
    text-decoration:black solid underline;
    

}
.middle:hover{
    opacity: 0.8;
    border-bottom: 1px solid black;
}
@keyframes service{
    0%{
        opacity: 0.2;
        transform: translateX(-200px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
.hut{
    background-color: #232f3e;
    color: white;
    height: 300px;
    padding-top: 70px;
}
.tree{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.space{
    margin-top: 14px;
   
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: rgba(255,255,255,0.7);
     
   
}

.help{
    margin-right: 160px;
}
.pp{
    margin-left: 200px;
   
}
.vector{
    text-decoration:rgba(255,255,255,0.7)  underline;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: rgba(255,255,255,0.7);
    
}
@media screen and (max-width: 320px){
    .hut{
        width: 100%;
    }
    .top{
        width: 100%;
    }



}
@media screen and (max-width: 375px){
    .top{
        width: 500px;
    }

    
}
@media screen and (max-width: 425px){
    .top{
       
        width:max-content ;
    }
    .hut{
        width: max-content;
    }

    
}
@media screen and (max-width: 768px){
.upper{
   width:max-content ;
}
.hut{
    width: max-content;
}

    
}

