*{
    background-color:#F9F9F9;   
    margin: 0px;
    padding: 0px;
}
.top{
    margin-left: 250px;
    animation-name: service;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.nav{
    color: #1F3D5C;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left:10px;
    

  
}
.ind{
    font-weight: 500;
    font-size: 250%;
    
}
.content{
    color: #333333;
    font-size: 120%;
    margin-bottom: 20px;
}
.photo{
    margin-left: 100px;
    margin-top: 20px;
}
.nav:hover{
    opacity: 0.8;
    padding:0px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
.middle{
    margin-left: 400px;
    margin-top: 50px;
    color: #1F3D5C; 
    margin-right: 540px;
      
}
.char{
    display: flex;
    margin-bottom: 50px;
}
.main{
    margin-top: 20px;
    margin-left: 100px;
}
#utp{
    margin-top: 50px;
    margin-bottom: 30px;
}
h3{
    margin-bottom: 10px;
    font-size: 160%;
    font-weight: 540;
    margin-right: 700px;
}
.mem:hover{
   transform: scale(1.3);
}
h3:hover{
    opacity: 0.6;
    transform: skewX(4deg);
    border-bottom: 1px solid black;

}
.middle:hover{
    opacity: 0.8;
    border-bottom: 1px solid black;
}
@keyframes service{
    0%{
        opacity: 0.2;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}